* {
  box-sizing: border-box;
  font-family: 'Handjet', sans-serif;
  color: white;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("images/matrix.jpg");
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: 'Hacked';
  src: local('Hacked-KerX'), url('./fonts/hacked-font/Hacked-KerX.ttf') format('truetype');
}