* {
  box-sizing: border-box;
  font-family: 'Handjet', sans-serif;
  color: aliceblue;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("images/matrix.jpg");
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: 'Hacked';
  src: local('Hacked-KerX'), url('fonts/Hacked/Hacked-KerX.ttf') format('truetype');
}

@font-face {
  font-family: 'Handjet';
  src: local('Handjet-VariableFont_ELGR,ELSH,wght'), url('fonts/Handjet/Handjet-VariableFont_ELGR,ELSH,wght.ttf') format('truetype');
}